@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  flex-direction: column;
}

.box {
  width: 700px;
}

.hc_button_container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.hc_button {
  display: flex;
  color: black;
  width: 500px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(30, 30, 30);
  border-radius: 10px;
  border-width: 3.5px;
  background-color: rgb(250, 250, 250);
  margin: 0 1px 0px 1px;
}

.hc_button:hover {
  cursor: pointer;
  transition: 0.23s;
  font-weight: 700;
  font-family: 'Nanum Gothic', sans-serif;
  border-width: 3.5px;
  color: white;
  border-color: rgb(30, 30, 30);
  background-color: rgb(30, 30, 30);
}

.hc_selected_button {
  display: flex;
  width: 500px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 3.5px;
  border-radius: 10px;
  border-color: rgb(30, 30, 30);
  color: white;
  background-color: rgb(30, 30, 30);
  margin: 0 1px 0px 1px;
}

.hc_input {
  display: flex;
  width: 500px;
  height: 50px;
  font-size: 16px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin: 2px 0px 0px 1px;
  padding-left: 15px;
}

.value_button_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 10px;
}

.value_button {
  display: flex;
  color: black;
  width: 100%;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(30, 30, 30);
  border-radius: 10px;
  border-width: 3.5px;
  background-color: rgb(250, 250, 250);
  margin: 0px 1px 0px 1px;
}

.value_button:hover {
  cursor: pointer;
  transition: 0.23s;
  color: white;
  background-color: rgb(30, 30, 30);
}

.value_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 15px;
}

.value_name {
  display: flex;
  color: rgb(250, 250, 250);
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: flex-start;
  align-items: flex-end;
  width: 130px;
  height: 45px;
  padding-left: 3px;
  margin-right: 19px;
}

.value_input {
  display: flex;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(250, 250, 250);
  color: rgb(250, 250, 250);
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: end;
  width: 360px;
  padding-right: 10px;
}

.value_input::-webkit-outer-spin-button,
.value_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clear {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  border: solid;
  border-color: rgb(30, 30, 30);
  border-radius: 10px;
  border-width: 3.5px;
}

.clear:hover {
  cursor: pointer;
  transition: 0.23s;
  color: white;
  background-color: rgb(30, 30, 30);
}

.bep_container {
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.bep_name {
  display: flex;
  width: 130px;
  color: rgb(255, 110, 110);
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
}

.bep_circle_question_mark {
  display: flex;
  position: relative;
  width: 10px;
  height: 15px;
  color: rgb(255, 110, 110);
  margin: auto;
}

.bep_balloon {
  visibility: hidden;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 5px;
  border: solid;
  border-radius: 8px;
  border-color: rgb(255, 110, 110);
  border-width: 2px;
}

.bep_explanation {
  visibility: hidden;
  display: flex;
  width: 470px;
  justify-content: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
}

.bep_circle_question_mark:hover .bep_balloon {
  visibility: visible;
}

.bep_circle_question_mark:hover .bep_explanation {
  visibility: visible;
}

.bep_value {
  display: flex;
  width: 550px;
  border: none;
  border-bottom: 2px solid rgb(255, 110, 110);
  font-size: 23px;
  justify-content: flex-end;
  color: rgb(255, 110, 110);
  padding-bottom: 7px;
  padding-right: 5px;
  margin-left: 17px;
}

.bep_value:hover {
  cursor: pointer;
}

.profit_container {
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.profit_name {
  display: flex;
  width: 130px;
  color: rgb(255, 165, 95);
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
}

.profit_circle_question_mark {
  display: flex;
  position: relative;
  width: 10px;
  height: 15px;
  color: rgb(255, 165, 95);
  margin: auto;
}

.profit_balloon {
  visibility: hidden;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 5px;
  border: solid;
  border-radius: 8px;
  border-color: rgb(255, 165, 95);
  border-width: 2px;
}

.profit_explanation {
  visibility: hidden;
  display: flex;
  width: 430px;
  justify-content: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
}

.profit_circle_question_mark:hover .profit_balloon {
  visibility: visible;
}

.profit_circle_question_mark:hover .profit_explanation {
  visibility: visible;
}

.profit_value {
  display: flex;
  width: 550px;
  border: none;
  border-bottom: 2px solid rgb(255, 165, 95);
  font-size: 23px;
  justify-content: flex-end;
  color: rgb(255, 165, 95);
  padding-bottom: 7px;
  padding-right: 5px;
  margin-left: 17px;
}

.profit_value:hover {
  cursor: pointer;
}

.rec_container {
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
}

.rec_name {
  display: flex;
  width: 130px;
  color: rgb(155, 255, 155);
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
}

.rec_circle_question_mark {
  display: flex;
  position: relative;
  width: 10px;
  height: 15px;
  color: rgb(155, 255, 155);
  margin: auto;
}

.rec_balloon {
  visibility: hidden;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 5px;
  border: solid;
  border-radius: 8px;
  border-color: rgb(155, 255, 155);
  border-width: 2px;
}

.rec_explanation {
  visibility: hidden;
  display: flex;
  width: 500px;
  justify-content: center;
  color: black;
  font-size: 13px;
  font-weight: 700;
}

.rec_circle_question_mark:hover .rec_balloon {
  visibility: visible;
}

.rec_circle_question_mark:hover .rec_explanation {
  visibility: visible;
}

.rec_value {
  display: flex;
  width: 550px;
  border: none;
  border-bottom: 2px solid rgb(155, 255, 155);
  font-size: 23px;
  justify-content: flex-end;
  color: rgb(155, 255, 155);
  padding-right: 5px;
  padding-bottom: 7px;
  margin-left: 17px;
}

.rec_value:hover {
  cursor: pointer;
}

.description_box {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.description_title {
  color: rgb(200, 200, 200);
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 7px;
}

.description_item {
  color: rgb(200, 200, 200);
  font-size: 0.8rem;
  margin-top: 7px;
}

.description_space {
  visibility: hidden;
}
